@import "../../utilities/variables.scss";

.homeButton__container {
    display: flex;
    justify-self: center;
    z-index: 100;
    .icon {
        font-size: 4.3rem;
        color: $primary-color;
        border: 2px solid $accent-color;
        background: $accent-color;
        border-radius: 100%;
        padding: 1rem 0.8rem;

        cursor: pointer;

        transition: all 0.3s ease-in-out;
        &:hover {
            border: 2px solid $accent-color;
            color: $accent-color;
            background: $primary-color;
            box-shadow: 0 0 20px $accent-color;
        }
    }
    @media (max-width: 450px) {
        margin-left: 0;
        .icon {
            font-size: 3.3rem;
            padding: 0.6rem 0.2rem;
        }
    }
}