$primary-color: rgb(0, 15, 29);
$accent-color: rgb(61, 159, 250);
$accent-color-shadow : rgb(3, 75, 143);
$font-color: rgb(248, 252, 255);
$primary-rgba: rgba(0, 15, 29, 0.8);

$main-font: "Roboto Mono", sans-serif;
$accent-font: "Oooh Baby", serif;

.container {
    padding: 2rem;
}