@import "../../utilities/variables.scss";

.contactButton__container {
    display: flex;
    justify-self: flex-end;
    .link {
        font-size: 1.8rem;
        color: $font-color;
        font-family: $main-font;
        writing-mode: sideways-rl;
        margin-bottom: 5rem;
    }
}