@import "../../utilities/variables.scss";

.mobileBurgerButton__container {
    display: flex;
    flex-direction: column;

    justify-self: flex-end;
    margin-right: 1rem;

    border: 2px solid $accent-color;
    border-radius: 0.2rem;
    padding: 0.5rem 0.6rem;
   
    z-index: 1000;
    &.open {
        z-index: -1;
    }
    .mobileBurgerButton__containerLine {
        background-color: $accent-color-shadow;
        border-radius: 1rem;
        padding: 0.2rem 1.5rem;
        &.margin-bottom {
            margin-bottom: 0.5rem;
        }
    }
    @media (max-width: 450px) {
        padding: 0.2rem 0.3rem;
        .mobileBurgerButton__containerLine {
            padding: 0.2rem 1.3rem;
        }
    }
}